<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>Boolflix</title>
</head>

<body>

    <div id="root">

        <header>

            <i class="fas fa-bars hamburger_menu"></i>

            <div class="header_left">

                <a href="#"><img class="logo" src="img/boolflix.png" alt=""></a> 

                <ul>

                    <li><a href="">Home</a></li>

                    <li><a href="">Serie TV</a></li>

                    <li><a href="">Film</a></li>

                    <li><a href="">Originali</a></li>

                    <li><a href="">Aggiunti di recente</a></li>

                    <li><a href="">La mia lista</a></li>

                </ul>

            </div>

            <div class="header_right">

                <input type="text" class="search_text_area" placeholder="Cerca" v-model="searchText" @keyup.enter="search">

                <i class="fas fa-search search" @click="search"></i>

                <i class="fas fa-bell bell"></i>

                <img class="profile_img" src="img/profile.png">

                <i class="fas fa-sort-down down"></i>

            </div>

        </header>

        <main>

            <h1 class="container_title" v-if="moviesList.length > 0">Film</h1>

            <div class="container">

                <div class="card" v-for="movie in moviesList">

                    <div class="cover">

                        <img v-if="movie.poster_path":src="'https://image.tmdb.org/t/p/w342' + movie.poster_path" alt="">

                        <img v-else src="img/image_not_available.PNG" alt="">

                    </div>

                    <h3 class="title">TITOLO: {{movie.title}}</h3>

                    <h4 class="original_title">TITOLO ORIGINALE: {{movie.original_title}}</h4>

                    <div class="flag">

                        <img v-if="getFlag(movie.original_language)" :src="'img/flags/' + movie.original_language + '.png'" alt="">

                        <img v-else src="img/flags/flag_not_available.png" alt="">

                    </div>

                    <span class="vote">VOTO: {{movie.vote_average}}</span>

                    <span>
                        
                        <i class="fas fa-star fas_star" v-for="i in voteStars(movie.vote_average)"></i>

                        <i class="far fa-star far_star" v-for="i in (5 - voteStars(movie.vote_average))"></i>
                    
                    </span>

                    <div class="overview">

                        <p>{{movie.overview}}</p>

                    </div>

                </div>

            </div>

            <h1 class="container_title" v-if="tvShowsList.length > 0">Serie TV</h1>

            <div class="container">

                <div class="card" v-for="tvShow in tvShowsList">

                    <div class="cover">

                        <img v-if="tvShow.poster_path":src="'https://image.tmdb.org/t/p/w342' + tvShow.poster_path" alt="">

                        <img v-else src="img/image_not_available.PNG" alt="">

                    </div>

                    <h3 class="title">TITOLO: <br> {{tvShow.name}}</h3>

                    <h4 class="original_title">TITOLO ORIGINALE: <br> {{tvShow.original_name}}</h4>

                    <div class="flag">

                        <img v-if="getFlag(tvShow.original_language)" :src="'img/flags/' + tvShow.original_language + '.png'" alt="">

                        <img v-else src="img/flags/flag_not_available.png" alt="">

                    </div>

                    <span class="vote">VOTO: {{tvShow.vote_average}}</span>

                    <span>
                        
                        <i class="fas fa-star fas_star" v-for="i in voteStars(tvShow.vote_average)"></i>

                        <i class="far fa-star far_star" v-for="i in (5 - voteStars(tvShow.vote_average))"></i>
                
                    </span>

                    <div class="overview">

                        <p>{{tvShow.overview}}</p>

                    </div>
                
                </div>

            </div>

        </main>

    </div>



    <script src="js/script.js"></script>

</body>

</html>